@inject IHttpContextAccessor HttpContextAccessor

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Grimoire</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="games">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> The Tome
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="download-client">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Summon Client
            </NavLink>
        </div>

        @if (IsAdmin)
        {
            <div class="nav-separator px-3">
                <hr />
                <span class="nav-section-label">Keeper</span>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/games">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manage Entries
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/emulators">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Emulators
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/scan">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Scan Library
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/firmware">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Firmware & BIOS
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/settings">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Settings
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-separator px-3">
                <hr />
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Keeper Login
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool IsAdmin =>
        HttpContextAccessor.HttpContext?.Request.Cookies
            .ContainsKey(Grimoire.Server.Controllers.AdminAuthController.CookieName) == true;
}
